aiogram==2.19
nest-asyncio==1.5.4
Pillow==7.1.2
https://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp37-cp37m-linux_x86_64.whl
https://drive.google.com/file/d/1-bCJeKkH0bEoIXRhotb-mOdUB9JXtvSb/view?usp=sharing
